# ─── Django Config ───────────────────────────────────────
DEBUG=True
SECRET_KEY=ganti-dengan-secret-key-yang-aman-untuk-production
ALLOWED_HOSTS=localhost,127.0.0.1

# ─── Database Config (PostgreSQL) ────────────────────────
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=rahasia123
DB_HOST=db
DB_PORT=5432

# ─── RabbitMQ (Celery Broker) ────────────────────────────
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# ─── Redis (Caching & Celery Result Backend) ─────────────
REDIS_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CACHE_TTL=300

# ─── MongoDB (Analytics) ─────────────────────────────────
MONGO_DB_NAME=lms_mongo
MONGO_HOST=mongodb
MONGO_PORT=27017

# ─── Email (opsional, untuk async email notification) ────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ─── Rate Limiting ───────────────────────────────────────
RATE_LIMIT_PER_MINUTE=60